body{
    background-color: darkslateblue;
    background-image: url('cardy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}

div{  
    position: absolute;
    bottom: 0;
}

.btn{
    background-color: rgba(36, 156, 211, 0.8);
    font-size: 150%;
    font-weight: bold;
    padding: 3%;
    border-radius: 9%;
    border: 15% solid #555555; 
}

.btn:active{
    transform: scale(1);
    box-shadow: 0 0 20px #06f038;
}

@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
        text-align: end;
        
    }
    div{
     
        
    }

    .btn{
        background-color: #44bde2;
        font-size: 150%;
        padding: 0%;
        border-radius: 5%;
        border: 3px solid #555555;
        margin: 5px;
        float: right;
     
    }
  }
