body{
    background-color: darkslateblue;
    background-image: url('cardy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   

}

div{  
    position: absolute;
    bottom: 0;
    text-align: center;
}

.btn{
    background-color: rgba(36, 156, 211, 0.8);
    font-size: 150%;
    font-weight: bold;
    padding: 3%;
    border-radius: 5%;
    border: 15% solid #555555; 
}

.btn:active{
    transform: scale(1);
    box-shadow: 0 0 20px #06f038;
}

@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
        text-align: end;
        
    }
    div{
        position: absolute;
        bottom: 0; 
        
    }

    .btn{
        margin: 5px;
    }
  }
